# 03.04.2017 
# Повторение

Что мы уже проходили:
* питон умеет работать как калькулятор

In [1]:
9 + 6

15

* переменные
* инструкции if, elif, else
* циклы for и while
* массивы

In [2]:
name = 'Hugo'

In [3]:
arr = [1,2,3,4,5,6]
for i in arr:
    print(i)

1
2
3
4
5
6

In [4]:
arr[:2]

[1, 2]

* функции
* словари
* регулярные выражения

In [5]:
def funcname(x, y, z):
    return x + y + z

funcname(3,4,5)

12

In [6]:
d = {"корова": "му", "собака":"гав", "кот": "мяу"} 
d['кот']

'мяу'

In [7]:
import re
regex = '<.*?>'
text = '<p>Hello, World!</p>'

re.sub(regex, '', text)

'Hello, World!'

# Comprehensions

Довольно часто нам бывает нужно из одного набора данных (массива, строки, словаря) собрать какой-то другой набор данных. Обычно мы делаем это с помощью цикла `for`:

In [8]:
a = [1,2,3,4,5,66,7,8]

In [9]:
# создать массив b с квадратами всех чисел из a
b = []
for i in a:
    b.append(i**2)
b

[1, 4, 9, 16, 25, 4356, 49, 64]

Но есть и способ проще: то же самое можно написать и в одну строчку:

In [10]:
# создать массив new_b с квадратами всех чисел из a
new_b = [i**2 for i in a]
new_b

[1, 4, 9, 16, 25, 4356, 49, 64]

Похожий пример, но теперь массив слов, а не чисел:

In [11]:
words = ['Mary', 'John', 'Jake', 'Tim']

In [12]:
# создать массив new_words со всеми словами из words, приведенными к верхнему регистру
new_words = [w.upper() for w in words]
new_words

['MARY', 'JOHN', 'JAKE', 'TIM']

Выражения такого рода - когда мы генерируем новый массив в одну строчку из какого-то другого набора данных - называются `list comprehensions`.

## Comprehensions и фильтры

Довольно часто нам бывает нужно из одного набора данных (массива, строки, словаря) собрать какой-то другой набор данных и при этом еще и учесть какоето условие. Иными словами, нам нужно отфильтровать наши данные. Опять же, раньше мы с вами делали это с помощью цикла `for`:

In [13]:
# создать массив b с квадратами тех чисел из a, которые кратны двум и меньше 10
b = []
for i in a:
    if i < 10 and i % 2 == 0:
        b.append(i**2)
b

[4, 16, 64]

Но питон позволяет написать и цикл `for` и все условия в одну строчку:

In [14]:
# создать массив new_b с квадратами тех чисел из a, которые кратны двум и меньше 10
new_b = [i**2 for i in a if i <10 and i % 2 == 0]
new_b

[4, 16, 64]

In [15]:
words += ['Kate', 'Tom', 'Moses', 'Jesus']
words

['Mary', 'John', 'Jake', 'Tim', 'Kate', 'Tom', 'Moses', 'Jesus']

In [16]:
# создать массив other_words со всеми словами из words, приведенными к верхнему регистру
# нужно взять только те слова, в которых есть буквы a, A, J или j
other_words = [w.upper() for w in words if re.search('[aAjJ]', w)]
other_words

['MARY', 'JOHN', 'JAKE', 'KATE', 'JESUS']

Можно задавать несколько условий, комбинируя их при помощи логических операторов.

In [51]:
other_words = [w.upper() for w in words if re.search('[aAjJ]', w) and len(w) == 4]
other_words

['MARY', 'JOHN', 'JAKE', 'KATE']

Также можно задавать различные методы обработки для элементов, удовлетворяющих различным условиям. Например, если мы нашли в имени символы A, a, J, j и длина имени больше 4, то мы приводим имя к верхнему регистру. Если эти условия не выполняются, то оставляем как есть.

In [52]:
other_words = [w.upper() if re.search('[aAjJ]', w) and len(w) == 4 else w for w in words ]
other_words

['MARY', 'JOHN', 'JAKE', 'Tim', 'KATE', 'Tom', 'Moses', 'Jesus']

Можно комбинировать фильтрацию и ветвление. Например, для массива чисел `a` мы хотим сначала отобрать те числа, которые меньше 10, а затем четные возвести в квадрат, а нечетные в куб.

In [53]:
new_a = [x**2 if x%2 == 0 else x**3 for x in a if x < 10]
new_a

[1, 4, 27, 16, 125, 343, 64]

## Dict Comprehension

По аналогии с `list comprehensions` существуют еще и `dict comprehensions`: мы можем в одну строчку сгенерировать новый словарь из какого-то набора:

In [17]:
d = {"корова": "му", "собака":"гав", "кот": "мяу", "утка": "кря"}

In [18]:
# словарь, ключами которого являются значения старого, а значениями - ключи старого
sounds = {d[key]: key for key in d}
sounds

{'гав': 'собака', 'кря': 'утка', 'му': 'корова', 'мяу': 'кот'}

In [19]:
# то же самое, только с фильтром
sounds = {d[key]: key for key in d if len(key) > 4}
sounds

{'гав': 'собака', 'му': 'корова'}

## Массив массивов

С помощью `list comprehension` можно в одной строчке совместить два цикла. Например, перед нами стоит задача превратить массив массивов в плоский массив:

In [20]:
BIG = [a, new_b, words]
BIG

[[1, 2, 3, 4, 5, 66, 7, 8],
 [4, 16, 64],
 ['Mary', 'John', 'Jake', 'Tim', 'Kate', 'Tom', 'Moses', 'Jesus']]

In [21]:
flat = []
for arr in BIG:
    for item in arr:
        flat.append(item)

In [22]:
flat

[1,
 2,
 3,
 4,
 5,
 66,
 7,
 8,
 4,
 16,
 64,
 'Mary',
 'John',
 'Jake',
 'Tim',
 'Kate',
 'Tom',
 'Moses',
 'Jesus']

In [23]:
flat = [item for arr in BIG for item in arr]
flat

[1,
 2,
 3,
 4,
 5,
 66,
 7,
 8,
 4,
 16,
 64,
 'Mary',
 'John',
 'Jake',
 'Tim',
 'Kate',
 'Tom',
 'Moses',
 'Jesus']

# Форматирование строк

Вспомним, какие функции для форматирования строк мы уже знаем:

In [24]:
s = 'Hello, world! That\'s all folks!'

In [25]:
s.upper()

"HELLO, WORLD! THAT'S ALL FOLKS!"

In [26]:
s.lower()

"hello, world! that's all folks!"

Обратим внимание на функции `capitalize` (первый символ приводится к верхнему регистру, *все* остальные -- к нижнему)  и `title` (первый символ каждого слова в строке приводится к верхнему регистру, а остальные к нижнему):

In [27]:
s.capitalize()

"Hello, world! that's all folks!"

In [28]:
s.title()

"Hello, World! That'S All Folks!"

## format: шаблоны
Для форматирования строк в питоне существует довольшо мощная функция под названием `format`. У нее очень широкие возможности и варианты применения. 

Например, мы можем создать строку с шаблоном, в котором место пропуска обозначается `{}`. А затем с помощью `format` в этот пропуск мы можем подставлять значения:

In [29]:
template = 'Hello, {}!'
template.format('John')

'Hello, John!'

In [30]:
name = 'Mary'
template.format(name)

'Hello, Mary!'

In [31]:
template.format(input('Введите имя: '))

Введите имя: Tim

'Hello, Tim!'

Значений может быть несколько:

In [32]:
'Привет, {} {}!'.format('Петя', 'Иванов')

'Привет, Петя Иванов!'

Причем __обязательно__ количество значений, которое мы передаем в `format` должно быть больше или равно количеству `{}` в шаблоне. Если меньше, то программа ломается:

In [33]:
'Привет, {} {}!'.format('Петя')

IndexError: tuple index out of range

Все элементы, которые мы передаем в `format` нумеруются, начиная с 0. Эти номера можно использовать в самом шаблоне, чтобы указать, какой именно элемент нужно вставить в данный пропуск:

In [34]:
'Привет, {1} {0}!'.format('Петя', 'Иванов')

'Привет, Иванов Петя!'

In [35]:
'Привет, {1} {0}! Вы, {0}, наш самый ценный клиент! Только вам, {0} {1}, и только сегодня мы предлагаем шкурку от банана совершенно бесплатно!'.format('Петя', 'Иванов')

'Привет, Иванов Петя! Вы, Петя, наш самый ценный клиент! Только вам, Петя Иванов, и только сегодня мы предлагаем шкурку от банана совершенно бесплатно!'

## format: выравнивание и количество символов

Функция `format` позволяет указать в шаблоне как именно будет выглядеть то, что мы в него вставляем.

Например, мы хотим распечатать таблицу с числами и хотим, чтобы все числа были выровнены справа. Для этого в шаблоне внутри `{}` мы пишем двоеточие, после двоеточия можно указать выравнивание (`>` - справа, `<` - слева, `^` - по центру), затем целое число - это __минимальная__ длина окна, которое занимает наш шаблон.

In [41]:
arr = [21, 45, 100, 4, 4, 3, 87]
template = 'Возраст: {:>10}'
for i in arr:
    print(template.format(i))

Возраст:         21
Возраст:         45
Возраст:        100
Возраст:          4
Возраст:          4
Возраст:          3
Возраст:         87

После двоеточия перед выравниванием можно указать символ, который будет использоваться для заполнения окна. По умолчанию используется пробел. Ниже примеры со знаком `+` и разным выравниванием:

In [42]:
'{:+>10}'.format('text')

'++++++text'

In [43]:
'{:+^10}'.format('text')

'+++text+++'

In [44]:
'{:+<10}'.format('text')

'text++++++'

Кроме того, мы можем указать максимальную длину, которую может занимать форматируемая строка. Например, если мы форматируем дробное число, это можно сделать так:

In [45]:
pi = 3.14159265358979323
'Ваше число {:.2f}'.format(pi)  # .2f значит - оставить в десятичном числе два знака после точки

'Ваше число 3.14'

In [46]:
'Ваше число {:.2}'.format(pi)

'Ваше число 3.1'

Точку можно использовать, чтобы обрезать строки. Например:

In [47]:
'{:.5}'.format('эйяфладлайокудль')  # .5 значит - оставить в строке первые пять символов

'эйяфл'

Попробуем совместить все вместе. Распечатаем слово "эйяфладлайокудль", при этом:
- `.5` - оставим от него только первые 5 символов
- `10` - вставим полученный результат в окно длины 10
- `^ ` - выровним результат по центру
- `+ ` - заполним пустое пространство знаком +

In [50]:
'{:+^10.5}'.format('эйяфладлайокудль')

'++эйяфл+++'

### Более подробно про разные способы форматирования в питоне описано на сайте https://pyformat.info/.

# Задания на семинаре
1) Функция `align_right(words)`, которая получает на вход массив слов и распечатывает их в столбик выровненными справа.

2) Функция `tokenize(text)`, которая получает на вход текст (предложение) и возвращает массив токенов (в нижнем регистре, с обрезанными знаками препинания). Нужно использовать `list comprehension`.

3) Функция `tabulate(arr)`, которая получает на вход массив кортежей из трех элементов и распечатывает их в виде таблицы. 

`[(нет, восемь, один), (да, тридцать, шесть)]`  -->

нет  восемь   один
да   тридцать шесть